<html>
    <head>
        <title>edit</title>
    </head>
    <body>
        <form action="{% url 'blog:edit_action' %}" method='post'>
            {% csrf_token %}
            {% if article%}
            <input type="hidden" name="article_id" value="{{article.id}}">
            <input type='text' name='title' value='{{article.title}}'><br>
            <input type='text' name='content' value='{{article.content}}'><br>
            {%else%}

            <input type='text' name='title' ><br>
            <input type='text' name='content'><br>

            {%endif%}
            <input type='submit'>
        </form>
    </body>
</html>